# Ambiente
.env
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage
coverage.xml

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Docker
*.log

# Alembic (mantemos as migrations, ignoramos apenas artefatos locais)
